# Ignore .txt files
*.txt

# Flask-related files
*.cfg
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
migrations/
*.pyc
*.pyo
*.db
*.sqlite
*.log

# Vscode
.vscode

#.pem
*.pem

# Any test Files
test.*

*.env