{% extends "layout.html" %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock head %}
{% block content %}
    <div class="container mt-3 mb-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1 class="mb-4">Your Posts</h1>
                <ul class="nav nav-tabs mb-4" id="postTabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-tab="all">All Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-tab="archive">Archived</a>
                    </li>
                    {% for platform in platform_names %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-tab="{{ platform.lower() }}">{{ platform }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% for post in all_posts %}
                    <div class="card mb-3 bg-white shadow" data-category="all">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <div>
                                    <a href="{{ url_for('editor', post_id=post.id, edited=True) }}" style="text-decoration: none;">
                                        <i class="fas fa-edit text-secondary" style="margin-right: 10px;"></i>
                                    </a>
                                    <a href="#" class="deleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="{{ post.id }}" data-type="post" style="text-decoration: none;">
                                        <i class="fas fa-trash-alt text-danger ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="truncated-text" data-post-id="{{ post.id }}">
                                {{ post.body[:20] | safe }}...
                                <a href="#" class="seeMoreLink" data-post-id="{{ post.id }}"><small>see more</small></a>
                            </div>
                            <div class="d-none full-text" data-post-id="{{ post.id }}">
                                {{ post.body | safe }}
                            </div>
                            <p class="card-text">
                                <b>Posted on: </b>
                                {% for platform, is_posted in post.posted_on.items() %}
                                    {% if is_posted %}
                                        <i class="fab fa-{{ platform }} fa-lg {{ platform_colors.get(platform, '') }}"></i>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">
                                <small><b>At: </b>{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                                <br>
                                <small><b>Last Update at: </b>{{ post.date_updated.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                            </p>
                        </div>
                    </div>
                {% endfor %}

                {% for post in archive_posts %}
                    <div class="card mb-3 bg-white shadow" data-category="archive">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <div>
                                    <a href="{{ url_for('editor', post_id=post.id, archived=True, edited=True) }}" style="text-decoration: none;">
                                        <i class="fas fa-edit text-secondary" style="margin-right: 10px;"></i>
                                    </a>
                                    <a href="#" class="deleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="{{ post.id }}" data-type="archive" style="text-decoration: none;">
                                        <i class="fas fa-trash-alt text-danger ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="truncated-text" data-post-id="{{ post.id }}">
                                {{ post.body[:20] | safe }}...
                                <a href="#" class="seeMoreLink" data-post-id="{{ post.id }}"><small>see more</small></a>
                            </div>
                            <div class="d-none full-text" data-post-id="{{ post.id }}">
                                {{ post.body | safe }}
                            </div>
                            <p class="card-text"><small><b>Added on: </b>{{ post.date_archived.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
                        </div>
                    </div>
                {% endfor %}

                {% for platform, posts in filtered_posts.items() %}
                    {% for post in posts %}
                        <div class="card mb-3 bg-white shadow" data-category="{{ platform }}">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <div>
                                        <a href="{{ url_for('editor', post_id=post.id, edited=True) }}" style="text-decoration: none;">
                                            <i class="fas fa-edit text-secondary" style="margin-right: 10px;"></i>
                                        </a>
                                        <a href="#" class="deleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="{{ post.id }}"  data-type="post" style="text-decoration: none;">
                                            <i class="fas fa-trash-alt text-danger ml-2"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="truncated-text" data-post-id="{{ post.id }}">
                                    {{ post.body[:20] | safe }}...
                                    <a href="#" class="seeMoreLink" data-post-id="{{ post.id }}"><small>see more</small></a>
                                </div>
                                <div class="d-none full-text" data-post-id="{{ post.id }}">
                                    {{ post.body | safe }}
                                </div>
                                <p class="card-text">
                                    <b>Posted on: </b> 
                                    {% for platform, is_posted in post.posted_on.items() %}
                                        {% if is_posted %}
                                        <i class="fab fa-{{ platform }} fa-lg {{ platform_colors.get(platform, '') }}"></i>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                    <small><b>At: </b>{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                                    <br>
                                    <small><b>Last Update at: </b>{{ post.date_updated.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="deleteForm" action="{{ url_for('delete_post') }}" method="post">
                        <input type="hidden" name="post_id" id="post_id" value="">
                        <input type="hidden" name="post_type" id="post_type" value="">
                        <button type="submit" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Retrieve the last selected tab from local storage
            const lastSelectedTab = localStorage.getItem('lastSelectedTab');
            if (lastSelectedTab) {
                // Remove "active" class from all tabs
                $('#postTabs a').removeClass('active');
                // Add "active" class to the last selected tab
                $(`#postTabs a[data-tab="${lastSelectedTab}"]`).addClass('active');
                
                // Show posts based on the last selected tab
                $('.card[data-category]').hide();
                $(`.card[data-category*="${lastSelectedTab}"]`).show();
            }
    
            $('#postTabs a').on('click', function (e) {
                e.preventDefault();
                // Remove "active" class from all tabs
                $('#postTabs a').removeClass('active');
                // Add "active" class to the clicked tab
                $(this).addClass('active');
                
                const selectedTab = $(this).data('tab');
                // Store the selected tab in local storage
                localStorage.setItem('lastSelectedTab', selectedTab);
                console.log("hi")
                $('.card[data-category]').hide();
                $(`.card[data-category*="${selectedTab}"]`).show();
            });
            $("#confirmDeleteButton").click(function () {
                $("#deleteConfirmationModal").modal("hide");
            });
            $('.deleteButton').click(function () {
                var postId = $(this).data('id');   
                var postType = $(this).data('type');  
                console.log(postType)
                // Set the value of the hidden input in the form
                $('#post_id').val(postId);
                $('#post_type').val(postType);
            });
            $('.seeMoreLink').click(function (e) {
                var postId = $(this).data('post-id');
                $('.truncated-text[data-post-id="' + postId + '"]').toggleClass('d-none');
                $('.full-text[data-post-id="' + postId + '"]').toggleClass('d-none');
            });
        });
    </script>    
    
{% endblock content %}
